<!DOCTYPE html>
<html>
    <head>
        <meta charset ='UTF-8'/>
        <link rel = "stylesheet" href = "./src/styles/index1.css">
        <link href = "./src/styles/output.css" rel = "stylesheet">
        <script src="https://cdn.tailwindcss.com"></script>

    </head>

    <body>
        <img class = 'mainlogo' src= './media1/company.jpg'>
        <h1 class = 'h1title'> ROOMATCH </h1>
        <p class ="pslogan"> Improving your house sharing experience</p>
        <section class = "recomendations">
            <p class ="text-descriptive"> Need a room?</p>
            <p class ="text-descriptive-2">Discover our crazy offers & Share with your dream partners</p>
            <div class = text-div></div>
        </section>
        <form class = "search-bar-form">
            <div class = 'menu-div'>
                <a class = 'rooti-button' href = "./index.html" target = "_blank"> &emsp;&emsp;
                    <p class = "link-text"> Home</p>
                    <img src="./media1/house1.svg">
                </a>
                
                <a class = 'rooti-button' href = "./src/templates/template.html" target = "_blank"> &emsp;&emsp;
                    <p class = "link-text"> Rooms</p>
                    <img src="./media1/beds-pillow.svg">
                </a>
                
                <a class = 'rooti-button' href = "./src/templates/profile.html" target = "_blank"> &emsp;&emsp;
                    <p class = "link-text"> Profile</p>
                <img src = './media1/profile.svg'>
                </a>
                
                <a class = 'rooti-button' href = "./src/templates/contact.html" target = "_blank"> &emsp;&emsp;
                    <p class = "link-text"> Contact</p>
                <img src ='./media1/agenda-phone-number-svgrepo-com.svg'>
                </a>
                
            </div>   
                
            
            <input
                class = "room-search" type ="search" name = "q" placeholder="Where do you need a room">
                <img class = 'search-img' src = './media1/search-svgrepo-com.svg'>
            </input>
            <button class ="submit-search" type = "submit"></button>
            <a class = 'log-in-button' href = "./src/templates/login.html">
                <p>Access</p>
            </a>
        </form>

        <div id = 'root' class = "image-expositor">
        </div>

        <p class = 'general-description'>
            Do not waste your time, we do it for you. </br>
        </p>
        <p class = 'general-description-p'> Searching for house partners can be difficult 
        we provide and opportunity to get the best possible partners</br>
        &emsp; &emsp; &emsp; &emsp; &emsp; Our powered by AI system give us the power of selecting your perfect match</br>
        &emsp; &emsp; &emsp; &emsp;Fullfill the following data so we can find your match considering your preferences</p>
        
        <p class = 'general-description' style = 'top : 1730px; left : 810px'>Let the hard work for us</p>
        <a class = "form-button" href = "./src/templates/started.html" target = "_blank"> 
            <p> Get started</p>
        </a>
       
        
        <script src = './src/divmenuhover.js'></script>
        <script type = "module" src = './src/main.jsx'></script>
        <section class ='why-us'>
            <h1 class = 'why-us-h1'> Why choosing Roomatch </h1>
            <p class = 'why-us-p'> </br>Find your dream room </br></br>Match incredible partners </br> </br>
            Contact with them </br> </br> Live the best sharing experience
            <p> Sharing a home can be a difficult experience, </br> our idea is to turn that experience into</br> 
            <strong>The greatest one possible.</strong></br></p>
            <img class = 'img-banner' src = './media1/roombanner8.jpg'>
        </section>
        
        <section class = 'about-us'>
            <h1 class = 'about-us-h1'> About us</h1>
            <div class = 'about-us-div'>
                <div class = 'div-text-about'>
                    <p class = 'p-div-section'> Our purpose </p>
                        <p class = "purpose-description"> Mainly our purpose is to help people have</br> the best  experience when sharing a home</p>
                </div>
                <div class = 'div-text-about'>
                    <p class = 'p-div-section'> Who are we?</p>
                        <p class = "who-description"> Company created at 2024 as a final degreee project </br> with the idea of improving students sharing experience</p>
                </div>      

                <div class = 'div-text-about'>
                    <p class = 'p-div-section'> Our team</p>
                        <p class = 'team-description'> Our team is conformed by 1 person. </br> A computer science student with focus on Machine learning</p>
               </div>

                <div class = 'div-text-about'>
                    <p class = 'p-div-section'> Work with us</p>
                        <p class = 'work-description'> Feel free to message us via our email or linkedin</br> if you considering working with us</p>
                </div>
            </div>
        </section>
        
        
        <section class = 'about-us'>
            <h1 class = 'about-us-h1'> About us</h1>
            <div class = 'about-us-div'>
                <div class = 'div-text-about'>
                    <p class = 'p-div-section'> Our purpose </p>
                        <p class = "purpose-description"> Mainly our purpose is to help people have</br>  the best experience when sharing a home</p>
                </div>
                <div class = 'div-text-about'>
                    <p class = 'p-div-section'> Who are we?</p>
                        <p class = "who-description"> Company created at 2024 as a final degreee project </br> with the idea of improving students sharing experience</p>
                </div>      

                <div class = 'div-text-about'>
                    <p class = 'p-div-section'> Our team</p>
                        <p class = 'team-description'> Our team is conformed by 1 person. </br> A computer science student with focus on Machine learning</p>
               </div>

                <div class = 'div-text-about'>
                    <p class = 'p-div-section'> Work with us</p>
                        <p class = 'work-description'> Feel free to message us via our email or linkedin</br> if you considering working with us</p>
                </div>
            </div>
        </section>
        
        <script type = "module" src = './src/main.jsx'></script>
        

  
    </body>
   
    
</html>
