<!DOCTYPE html>
<html>
    <head>
        <meta charset ='UTF-8'/>
        
        <link href = "../styles/output.css" rel = "stylesheet">
        <link href = "../styles/index1.css" rel = "stylesheet">
        <link href = "../styles/roomStyle.css" rel = "stylesheet">
        <link href = "../styles/login.css" rel = "stylesheet">
        
    </head>

    <body>
        <div class = "log-in-container">
            <p class = "log-in-text"> Register </p>
            <section class = "form-container">
                <form class = 'form-class' name = "register-form" method = 'post' action = '/'>
                    <fieldset class = 'form-fieldset'>
                        <label class = 'label-email' for = "email" > Email</label>
                        <input class = 'input-email' type = 'text' id = 'email-input' name = 'email' placeholder="Your email" required> </br>
                        
                        <label class = 'label-password' for = "password"> Password</label>
                        <input class = 'input-password' type = 'password' id = 'email-password' name = 'password'
                        placeholder="**********" required> </br>
                    
                    <button class = "log-in-form" type ='submit'> Continue
                        
                    </button>
                </form>
                
            </section>
        </div>
        <script src = "../javascripts/userform.js"></script>
    </body>
    
</html> 